node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
env-vars.yaml
build-log.txt
!.env.example
data/
*.err
assets/
/*.cjs
/*.mjs
api/server.mjs
api/server.mjs.map
clear_cache.sql
sql-script.sql
project.tar.gz
metadata.json
supabase/.temp/
